prebuilds/fullsdk-linux
prebuilds/fullsdk-darwin
bin
out
*.iml
.gradle
/local.properties
.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
.kotlinprebuilds/fullsdk-linux
prebuilds/fullsdk-darwin
bin
out
*.iml
.gradle
/local.properties
.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
.kotlin
